<% layout('layoutadmin') -%>
    <form ref='uploadForm' id='uploadForm' action='/quanlyshop/sanpham/add' method='post' encType="multipart/form-data">
        <input type="file" name="inputHinhSP" />
        <input type='submit' value='Upload!' />
    </form>