<% layout('layoutadmin') -%>
    <div class="grid-form">
        <div class="grid-form1">
            <h3>Thêm mới</h3>
            <div class="panel-body">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Email Address</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon">
										<i class="fa fa-envelope-o"></i>
									</span>
                                <input type="text" class="form-control1" placeholder="Email Address">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Password</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon">
										<i class="fa fa-key"></i>
									</span>
                                <input type="password" class="form-control1" id="exampleInputPassword1" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Email Address</label>
                        <div class="col-md-8">
                            <div class="input-group input-icon right">
                                <span class="input-group-addon">
										<i class="fa fa-envelope-o"></i>
									</span>
                                <input id="email" class="form-control1" type="text" placeholder="Email Address">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Password</label>
                        <div class="col-md-8">
                            <div class="input-group input-icon right">
                                <span class="input-group-addon">
										<i class="fa fa-key"></i>
									</span>
                                <input type="password" class="form-control1" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <button class="btn-dark btn hvr-icon-float-away col-24">Thêm</button>
                                <button class=" btn hvr-icon-spin col-5">Xóa Trắng</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="grid-form1">
            <h3 id="forms-inline">Thông Tin Chi Tiết</h3>
            <form class="form-inline">
                <div class="form-group">
                    <label for="exampleInputName2">Tên Loại Hình</label>
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Nhập Tên">
                </div>
                <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
            </form>
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Mã Loại Hình</th>
                            <th>Tên Loại Hình</th>
                            <th>Mô tả</th>
                            <th>Tác Vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Anna</td>
                            <td>Pitt</td>
                            <td>35</td>
                            <td><button class="btn btn-primary">Cập Nhật</button> <button class="btn btn-danger">Xóa</button></td>

                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>