<% layout('layout') -%>
<div id="content" class="container">
   <div class="cart">
      <h3>Giỏ Hàng Của Bạn</h3>
      <div class="table-responsive">
         <table class="table table-hover table-bordered">
            <thead>
               <tr>
                  <th>#</th>
                  <th>Mã Sản Phẩm</th>
                  <th>Tên Sản Phẩm</th>
                  <th>Đơn Giá</th>
                  <th>Số Lượng</th>
                  <th>Thành Tiền</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>1</td>
                  <td>Anna</td>
                  <td>Pitt</td>
                  <td>35</td>
                  <td>New York</td>
                  <td>USA</td>
               </tr>
               <tr>
                  <td>1</td>
                  <td>Anna</td>
                  <td>Pitt</td>
                  <td>35</td>
                  <td>New York</td>
                  <td>USA</td>
               </tr>
               <tr>
                  <td>1</td>
                  <td>Anna</td>
                  <td>Pitt</td>
                  <td>35</td>
                  <td>New York</td>
                  <td>USA</td>
               </tr>
               <tr class="danger">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
               </tr>
               <tr>
                  <td></td>
                  <td></td>
                  <td>Phụ Thu</td>
                  <td>Giảm giá</td>
                  <td>Tổng Tiền</td>
                  <td><a type="button" class="btn btn-inverse">Mua Hàng</a></td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>