<% layout('layout') -%>

    <div id="content" class="container">  
        <ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>
            <div class="col-md-12 register">
          <h4>Cám ơn bạn đã đặt hàng</h4>
          <div class="alert alert-warning" role="alert">Hãy cập nhật lại thông tin nếu cần</div>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="inputemail" class="col-lg-2 control-label">Họ-Tên</label>
              <div class="col-lg-5">
                <input type="text" class="form-control" id="inputemail" placeholder="Email">
              </div>
            </div>
             <div class="form-group">
              <label for="inputemail" class="col-lg-2 control-label">Số Điện Thoại</label>
              <div class="col-lg-5">
                <input type="text" class="form-control" id="inputemail" placeholder="Email">
              </div>
            </div>
             <div class="form-group">
              <label for="inputemail" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-5">
                <input type="text" class="form-control" id="inputemail" placeholder="Email">
              </div>
            </div>
             <div class="form-group">
              <label for="inputemail" class="col-lg-2 control-label">Địa Chỉ</label>
              <div class="col-lg-5">
                <input type="text" class="form-control" id="inputemail" placeholder="Email">
              </div>
            </div>
             <button type="submit" class="btn btn-inverse">Cập nhật</button>
          </form>
        </div>  
        <div class="<col-md-12></col-md-12> cart">
  <h3>Đơn hàng của bạn: 111</h3>          
  <div class="table-responsive">          
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Mã Sản Phẩm</th>
        <th>Tên Sản Phẩm</th>
        <th>Đơn Giá</th>
        <th>Số Lượng</th>
        <th>Thành Tiền</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Anna</td>
        <td>Pitt</td>
        <td>35</td>
        <td>New York</td>
        <td>USA</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Anna</td>
        <td>Pitt</td>
        <td>35</td>
        <td>New York</td>
        <td>USA</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Anna</td>
        <td>Pitt</td>
        <td>35</td>
        <td>New York</td>
        <td>USA</td>
      </tr>
       <tr class="danger">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
       <tr>
        <td></td>
        <td></td>
        <td>Phụ Thu</td>
        <td>Giảm giá</td>
        <td>Tổng Tiền</td>
        <td><a type="button" class="btn btn-inverse">Hủy</a></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

     
   </div>