<meta charset="utf-8">
<title><%= title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Loading Bootstrap -->
<link href="/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Loading Flat UI -->
<link href="/dist/css/flat-ui.css" rel="stylesheet">
<link href="/dist/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="/dist/css/flexslider.css" type="text/css">
<link rel="shortcut icon" href="/dist/img/favicon.ico">